*{
    margin: 0;
    padding: 0;
}
/*--------------------Header-----------------------*/
.header{
    background-color: black;
    display: flex;
    justify-content:center;
    padding: 10px;
}
.logo img{
    height: 275px;
    width: 275px;
}
.nav-links ul{
    color: white;
    padding: 50px;
    padding-top: 100px;
}
.nav-links ul li{
    display: inline-block;
    font-size: 50px;
    padding: 50px;
    text-align: center;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 5px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 80%;
}
#book-appointment{
    background-color: red;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#book-appointment::after{
    content:'';
    width: 0%;
    height: 5px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#book-appointment:hover::after{
    width: 80%;
}
/*-----------------Welcome Section--------------*/
.welcome-page{
    background-color: black;
    position: relative;
    text-align: center;
    color:white;
}
.welcome-page img{
    height: 100%;
    width: 100%;
}
.welcome-page h1{
    font-size: 65px;
    position: absolute;
    top: 175px;
    right: 16px;
}
#estyear{
    font-size: 50px;
    position: absolute;
    top: 255px;
    right: 200px;
}
.welcome-page h2{
    font-size: 50px;
    position: absolute;
    top: 255px;
    right: 450px;
}
/*----------------Detailing Section Top----------*/
.detailing-section-top{
    display: flex;
    justify-content:space-around
}
.image1 img{
    height: 800px;
    width: 100%;
}
.image2 img{
    height: 800px;
    width: 100%;
}
#topLeft {
    color: white;
    position: absolute;
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 75px;
    top: 1050px;
    right: 2000px;
}
#topRight{
    color: white;
    position: absolute;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
    font-size: 75px;
    top: 1050px;
    right: 400px;
}
/*--------------Detailing Section Bottom---------*/
.detailing-section-bottom{
    display: flex;
    justify-content: space-around;
}
.image1 img{
    height: 100%;
    width: 100%;
}
.image2 img{
    height: 100%;
    width: 100%;
}
#bottomLeft {
    color: white;
    position: absolute;
    text-decoration: underline;
    text-decoration-color: red;
    position: absolute;
    font-size: 75px;
    top: 1850px;
    right: 1950px;
}
#bottomRight{
    color: white;
    position: absolute;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
    font-size: 75px;
    top: 1850px;
    right: 250px;
}
/*--------------About Us------------------------*/
.about-us{
    background-color: black;
    color: white;
}
.about-us img{
    width: 100%;
    height: 100%;
}
#header{
    position: absolute;
    font-size: 75px;
    top: 2750px;
    right: 1000px;
    text-decoration: underline;
    text-decoration-color: red;
}
#yearEsta{
    position: absolute;
    font-size: 55px;
    top: 2830px;
    right: 1155px;
}
.about-us p{
    font-size: 50px;
    position: absolute;
    top: 2950px;
    padding-left: 500px;
    height: 500px;
    width: 2100px;
}
/*--------------Contact Us-----------------------*/
.contact-us{
    color: white;
}
.contact-us img{
    width: 100%;
    height: 100%;
}
.contact-us h1{
    position: absolute;
    font-size: 85px;
    top: 3800px;
    right: 900px;
}
.contact-us h2{
    position: absolute;
    font-size: 75px;
    top: 3950px;
    right: 1200px;
    background-color: red;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/*-------------Footer---------------------------*/
.footer{
    background-color: black;
    display: flex;
    justify-content:center;
    padding: 10px;
}
.footer img{
    height: 275px;
    width: 275px;
}