*{
    margin: 0;
    padding: 0;
}
/*--------------------Header-----------------------*/
.header{
    background-color: black;
    position: relative;
}
.logo{
    position: absolute;
    left: 10%;
    top: 15%
}
.logo img{
    height: 200px;
    width: 200px;
}
.nav-links{
    text-align: center;
}
.nav-links ul{
    color: white;
    padding: 30px;
    padding-top: 100px;
}
.nav-links ul li{
    display: inline-block;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 5px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 80%;
}
#book-appointment{
    background-color: red;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#book-appointment::after{
    content:'';
    width: 0%;
    height: 5px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#book-appointment:hover::after{
    width: 80%;
}
/*-----------------Welcome Section--------------*/
.welcome-page{
    background-color: black;
    display: flex;
    position: relative;
}
.text h1{
    color: white;
    font-size: 35px;
    position: absolute;
    right: 1%;
    top: 35%;
}
.welcome-page img{
    height: 100%;
    width: 100%;
}
/*----------------Detailing Section Top Right----------*/
.detailing-container{
    background-color: black;
    display: flex;
    position: relative;
}
.topLeft{
    position: relative;
    display: flex;
}
.topLeft img{
    height: 100%;
    width: 50%;
    float: left;   
}
.topLeft h1{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
}
.topRight{
    position: relative;
    display: flex;
}
.topRight img{
    height: 100%;
    width: 100%;
    float: right;   
}
.topRight h1{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 15%;
    left: 40%;
}
/*----------Bottom Panel---------*/
.bottomLeft{
    position: relative;
    display: flex;
}
.bottomLeft img{
    height: 100%;
    width: 50%;
    float: left;   
}
.bottomLeft h1{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 15%;
    left: 20%;
}
.bottomRight{
    position: relative;
    display: flex;
}
.bottomRight img{
    height: 100%;
    width: 100%;
    float: right;   
}
.bottomRight h1{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 15%;
    left: 40%;
}

/*--------------About Us------------------------*/
.about-us{
    background-color: black;
    color: white;
}
.about-us img{
    width: 100%;
    height: 100%;
}
#header{
    position: absolute;
    font-size: 75px;
    top: 2750px;
    right: 1000px;
    text-decoration: underline;
    text-decoration-color: red;
}
#yearEsta{
    position: absolute;
    font-size: 55px;
    top: 2830px;
    right: 1155px;
}
.about-us p{
    font-size: 50px;
    position: absolute;
    top: 2950px;
    padding-left: 500px;
    height: 500px;
    width: 2100px;
}
/*--------------Contact Us-----------------------*/
.contact-us{
    color: white;
}
.contact-us img{
    width: 100%;
    height: 100%;
}
.contact-us h1{
    position: absolute;
    font-size: 85px;
    top: 3800px;
    right: 900px;
}
.contact-us h2{
    position: absolute;
    font-size: 75px;
    top: 3950px;
    right: 1200px;
    background-color: red;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/*-------------Footer---------------------------*/
.footer{
    background-color: black;
    display: flex;
    justify-content:center;
    padding: 10px;
}
.footer img{
    height: 275px;
    width: 275px;
}