* {
    margin: 0;
    padding: 0;
}
/* Header */
.header {
    background-image: url(Images/tyler-clemmensen-Zs_L-plsZzg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}
/* Logo */
.logo {
    margin-left: 200px;
    margin-top: 50px;
    position: absolute;
}
/* Navigation Links */
.nav-links {
    text-align: center;
    margin-top: 0px; 
}
.nav-links ul {
    list-style: none;
    color: white;
    display: flex;
    justify-content: center; 
}
.nav-links ul li {
    margin: 125px; 
    font-size: 40px;
}
.nav-links ul li:hover {
    text-decoration: underline;
}
/* About Section */
.about-us-section {
    display: flex;
    background-color: black;
}
.about-us-container {
    padding: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.about-us-container-image img {
    width: 450px;
    max-height: auto;
}
.about-us-textbox {
    padding-left: 180px; /* Adjust as needed for spacing between image and text */
    padding-right: 180px;
    margin-bottom: auto;
}
.about-us-textbox h1, .about-us-textbox p {
    color: white;
    size: 20px;
}
.about-us-textbox h1{
    font-size: 65px;
}
.about-us-textbox p{
    font-size: 25px;
}
.about-us-textbox ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 35px;
}
.social-media-page{
    background-image: url(Images/philipp-katzenberger-YVkB4W1HRv4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 35vh;
}
/*Social Media*/

/*View Services*/
.service{
    background-color: black;
    text-align: center;
    color: white;
}
.service-header{
    padding: 100px;
}
.service-header h1{
    font-size: 65px;
}
.services-top-container {
    display: flex;
}
.top-left-column,
.top-right-column {
    flex: 1;
}
#top-left-image,
#top-right-image {
    max-width: 100%; 
    height: auto; 
}
.services-bottom-container{
    display: flex;
}
.bottom-left-column,
.bottom-right-column {
    flex: 1;
}
#bottom-left-image,
#bottom-right-image {
    max-width: 100%; 
    height: auto; 
}